.input-container {
  height: 100%;
  flex-direction: column-reverse;
  display: flex;
  transition: all 0.2s;
}

.calculator-input {
  background-color: transparent;
  color: #eee;
  border: none;
  width: 100%;
  text-align: right;
  padding: 0 0.75rem;
  outline: none;
  font-size: 1.75rem;
  font-weight: 400;
  resize: none;
  margin: 0;
  overflow-y: visible;
  height: 1px;
  max-height: 6rem;
}