.calc-num-button {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 100%;
  min-width: 2rem;
  min-height: 2rem;
  aspect-ratio: 1 / 1;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  border-radius: 50%;
  box-shadow: 3px 3px 7px var(--box-shadow1), -3px -3px 6px var(--box-shadow2);
  font-weight: 400;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  white-space: nowrap;
}

.calc-num-button:active {
  /* box-shadow: 2px 2px 5px var(--box-shadow1) inset, -2px -2px 5px var(--box-shadow2) inset; */
  background-color: var(--box-shadow2);
}

.regular {
  color: var(--accent-2);
  background: transparent;
}

.accent {
  background-color: var(--primary);
  color: var(--primary-text);;
}

.accent span {
  font-size: 11vw;
}

.accent:active {
  /* box-shadow: 3px 3px 5px var(--primary-box-shadow1) inset, -3px -3px 5px var(--primary-box-shadow2) inset; */
  background-color: var(--primary-box-shadow2);
}

.secondary {
  background-color: var(--secondary);
  color: var(--secondary-text);
}

.secondary span {
  font-size: 9vw;
}

.secondary:active {
  /* box-shadow: 3px 3px 5px var(--secondary-box-shadow1) inset, -3px -3px 5px var(--secondary-box-shadow1) inset; */
  background-color: var(--secondary-box-shadow1);
}

.calculate-large-button {
  border-radius: 14px;
  width: 50%;
}

.history-button img {
  width: 1rem;
}

.percentage {
  font-weight: 600;
}

.clear-all {
  font-weight: 1.4rem;
  font-weight: 400;
}

.parenthesis {
  padding-bottom: 6px;
}

.calc__history-button {
  position: absolute;
  left: 18px;
  top: 18px;
  outline: none;
  background: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
}

.calc__history-button span {
  background: var(--accent-2);
  width: 100%;
  height: 2px;
  border-radius: 5px;
  display: block;
  margin: 5px 0;
}

.calc_history-button-close {
  width: 1rem;
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (min-width: 500px) {
  .calc-num-button {
    font-size: 2.4rem;
  }

  .accent span {
    font-size: 2.6rem;
  }

  .secondary span {
    font-size: 2.2rem;
  }
}