.calc-num-button {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 100%;
  min-width: 3rem;
  min-height: 3rem;
  max-width: 6rem;
  max-height: 6rem;
  aspect-ratio: 1 / 1;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  border-radius: 50%;
  box-shadow: 3px 3px 7px black, -3px -3px 6px #333;
  font-weight: 400;
  transition: all 0.25s ease-out;
}

.calc-num-button:active {
  box-shadow: 2px 2px 5px black inset, -2px -2px 5px #333 inset;
}

.regular {
  color: #ddd;
  background: transparent;
}

.accent {
  background-color: rgb(255, 143, 0);
  color: white;
  font-size: 2rem;
}

.accent:active {
  box-shadow: 3px 3px 5px rgb(158, 90, 0) inset, -3px -3px 5px rgb(255, 180, 82) inset;
}

.secondary {
  background-color: #999;
  color: #333;
  font-size: 1.6rem;
}

.secondary:active {
  box-shadow: 3px 3px 5px #666 inset, -3px -3px 5px #bbb inset;
}

.calculate-large-button {
  border-radius: 14px;
  width: 50%;
}

.history-button img {
  width: 1rem;
}

.backspace-button {
  font-size: 1.65rem;
}

.percentage {
  font-weight: 600;
  font-size: 1.45rem;
}

.clear-all {
  font-weight: 1.4rem;
  font-weight: 400;
}

.paranthasis {
  font-size: 1.6rem;
  padding-bottom: 6px;
}