.calc-num-button {
  background-color: transparent;
  border: none;
  outline: none;
  min-width: 2rem;
  min-height: 2rem;
  aspect-ratio: 1 / 1;
  width: 98%;
  padding: 0;
}

.calc-num-button span {
  width: 100%;
  font-size: 10vw;
  box-shadow: 3px 3px 7px var(--box-shadow1), -3px -3px 6px var(--box-shadow2);
  font-weight: 400;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  white-space: nowrap;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-num-button:active {
  /* box-shadow: 2px 2px 5px var(--box-shadow1) inset, -2px -2px 5px var(--box-shadow2) inset; */
  background-color: var(--box-shadow2);
  border-radius: 50%;
}

.regular span {
  color: var(--accent-2);
  background: transparent;
}

.accent span {
  background-color: var(--primary);
  color: var(--primary-text);
  font-size: 11vw;
}

.accent:active span {
  /* box-shadow: 3px 3px 5px var(--primary-box-shadow1) inset, -3px -3px 5px var(--primary-box-shadow2) inset; */
  background-color: var(--primary-box-shadow2);
}

.secondary span {
  background-color: var(--secondary);
  color: var(--secondary-text);
  font-size: 9vw;
}

.secondary:active span {
  /* box-shadow: 3px 3px 5px var(--secondary-box-shadow1) inset, -3px -3px 5px var(--secondary-box-shadow1) inset; */
  background-color: var(--secondary-box-shadow1);
}

.history-button img {
  width: 1rem;
}

.percentage {
  font-weight: 600;
}

.clear-all {
  font-weight: 1.4rem;
  font-weight: 400;
}

.parenthesis {
  padding-bottom: 6px;
}

@media screen and (min-width: 500px) {
  .calc-num-button span {
    font-size: 2.4rem;
  }

  .accent span {
    font-size: 2.6rem;
  }

  .secondary span {
    font-size: 2.2rem;
  }
}
