.calc__expression-wrapper {
  height: 100%;
  flex-direction: column-reverse;
  display: flex;
  transition: all 0.2s;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  min-height: 5rem;
  padding: 0.8rem;
  padding-bottom: 0.5rem;
  background-color: var(--bg-1);
}

.calc_expression-text {
  background-color: transparent;
  color: var(--accent);
  width: 100%;
  text-align: right;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0;
  line-break: anywhere;
  text-overflow: ellipsis;
  max-height: 90%;
  padding: 0 8px;
}

.calc__result-wrapper {
  width: 100%;
  text-align: right;
  transition: all 0.2s;
  position: relative;
  padding: 0.8rem calc(0.8rem + 12px);
  background-color: var(--bg-1);
}

.calc__result-wrapper div {
  line-break: anywhere;
  text-overflow: ellipsis;
  transition: all 0.2s ease-out;
}

.calc__result-text-temp {
  font-size: 2rem;
  color: var(--secondary);
  position: relative;
  bottom: 0;
}
.calc__result-text-final {
  font-size: 3.5rem;
  position: relative;
  bottom: 20px;
  color: var(--accent);
}

.calc__input-buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75rem;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding: 0.8rem;
  padding-top: 1rem;  
  background-color: var(--bg-2);
}

@media screen and (max-height: 700px) {
  .calc__input-buttons-wrapper {
    padding-bottom: 1rem;
  }
}

@media (display-mode: standalone) {
  .calc__input-buttons-wrapper {
    padding-bottom: 2rem;
    padding-bottom: 2rem;
    padding-bottom: calc(env(safe-area-inset-bottom) + 2rem);
  }
}