.calc__expression-wrapper {
  height: 100%;
  flex-direction: column-reverse;
  display: flex;
  transition: all 0.2s;
  justify-content: space-between;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  min-height: 10rem;
}

.calc_expression-text {
  background-color: transparent;
  color: var(--accent);
  width: 100%;
  text-align: right;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0;
  line-break: anywhere;
  text-overflow: ellipsis;
  max-height: 90%;
  overflow-y: auto;
  padding: 0 8px;
}

.calc__result-wrapper {
  width: 100%;
  padding: 10px 0;
  text-align: right;
  transition: all 0.2s;
  margin-bottom: 1.8rem;
  margin-top: 1rem;
  position: relative;
  padding: 0 12px;
}

.calc__result-wrapper div {
  line-break: anywhere;
  text-overflow: ellipsis;
  transition: all 0.2s ease-out;
}

.calc__result-text-temp {
  font-size: 2rem;
  color: var(--secondary);
  position: relative;
  bottom: 0;
}
.calc__result-text-final {
  font-size: 3.5rem;
  position: relative;
  bottom: 20px;
  color: var(--accent);
}

.calc__input-buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75rem;
  justify-items: center;
  align-content: center;
  align-items: center;
}