.calc__expression-wrapper {
  height: 100%;
  flex-direction: column-reverse;
  display: flex;
  min-height: 6rem;
  transition: all 0.2s;
  justify-content: space-between;
  margin-top: 5px;
  position: relative;
}

.calc_expression-text {
  background-color: transparent;
  color: #eee;
  width: 100%;
  text-align: right;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  line-break: anywhere;
  text-overflow: ellipsis;
  max-height: 90%;
  overflow-y: auto;
  padding: 0 8px;

}

.calc__expression-history {
  margin-bottom: 1rem;
  text-align: right;
  font-size: 1rem;
  color: #777;
  overflow-y: auto;
  height: 50%;
  text-overflow: ellipsis;
  line-break: anywhere;
  padding: 0 6px;
}

.calc__expression-history p {
  margin: 0;
  margin-bottom: 14px;
  font-size: 1.25rem;
}

.calc__history-button {
  position: absolute;
  left: 5px;
  top: 5px;
  outline: none;
  background: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
}

.calc__history-button img {
  width: 1.5rem;
}

.calc__result-wrapper {
  width: 100%;
  padding: 10px 0;
  text-align: right;
  transition: all 0.2s;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  position: relative;
  padding: 0 8px;
}

.calc__result-wrapper p {
  transition: all 0.2s ease-out;
  margin: 0;
  height: 2rem;
}

.calc__result-text-temp {
  font-size: 1.75rem;
  color: #999;
  position: relative;
  bottom: 0;
}
.calc__result-text-final {
  font-size: 3rem;
  position: relative;
  bottom: 20px;
  color: #eee;
}

.calc__input-buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-content: center;
  align-items: center;
}
