.calc__expression-history-container {
  position: relative;
  margin-top: 4rem;
  height: 70%;
  width: 100%;
  padding: 0 1rem;
}

.calc__expression-history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.calc__expression-history-header h4 {
  text-align: start;
  margin: 0;
  margin-left: 0.5rem;
  padding: 0;
  color: var(--accent);
}

.calc__expression-history-header button {
  color: var(--accent);
  font-size: 1rem;
  background: var(--box-shadow2);
  border-radius: 10px;
  border: none;
  padding: 8px 1rem;
  cursor: pointer;
}

.calc__expression-history-items {
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  padding-right: 1.25rem;
  padding-bottom: 0;
  border: solid 1px var(--box-shadow2);
  border-radius: 10px;
  margin-left: 0.5rem;
}

.calc__expression-history-item {
  margin-bottom: 14px;
  user-select: none;
  cursor: pointer;
}

.calc__expression-history-item-expression {
  font-size: 1.25rem;
  color: var(--secondary);
  margin: 0;
}

.calc__expression-history-item-result {
  margin-top: 5px;
  color: var(--accent);
  font-size: 1.5rem;
}

@media screen and (max-height: 780px) {
  .calc__expression-history-items {
    height: 95%;
  }
}

@media screen and (max-height: 680px) {
  .calc__expression-history-items {
    height: 90%;
  }
}

@media screen and (max-height: 580px) {
  .calc__expression-history-items {
    height: 85%;
  }
}