.calc-theme-selector__container {
  align-self: flex-start;
  width: 100%;
  text-align: start;
  padding: 1rem;
  padding-bottom: 1.5rem;
  margin-top: 4rem;
  align-items: center;
  width: 100%;
}

.calc-theme-selector__container h4 {
  text-align: start;
  margin: 0;
  margin-bottom: 0.75rem;
  margin-left: 0.5rem;
  padding: 0;
  color: var(--accent);
}

.calc-theme-selector__btns-wrapper {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  border: solid 1px var(--box-shadow2);
}

.calc-theme-selector__btns-wrapper button {
  color: var(--accent-2);
  border: solid 1px transparent;
  outline: none;
  user-select: none;
  padding: 8px 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-transform: capitalize;
  transition: all 0.25s ease-out;
  border-radius: 20px;
  background: transparent;
}
.calc-theme-selector__btns-wrapper button:hover,
.calc-theme-selector__btns-wrapper button:active {
  border: solid 1px var(--box-shadow2);
}

.calc-theme-selector__selected-btn {  
  color: var(--accent-2) !important;
  /* background: var(--box-shadow2) !important; */
  border: solid 1px var(--accent-2) !important;
}

@media screen and (max-width: 350px) {
  .calc-theme-selector__btns-wrapper button {
    font-size: 0.9rem;
    padding: 8px 0;
  }
}
