@import url('./assets/styles.css');

:root, button {
  font-family: 'Roboto', system-ui, 'Roboto', Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  user-select: none;
}

html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  position: fixed;
}

button, input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

.app {
  height: 100vh;
  width: 100vw;
  height: 100dvh;
  width: 100dvw;
}

/* Styles related to installation prompt */
.calculator-pwa_install-prompt-container {
  position: absolute;
  width: 75%;
  height: 60%;
  max-width: 22rem;
  height: 21rem;
  backdrop-filter: blur(2.5rem);
  -webkit-backdrop-filter: blur(2.5rem);
  box-shadow: 0px 0px 15px 1px var(--accent);
  border-radius: 10px;
  padding: 1rem;
  padding-top: 2.5rem;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: come-in 0.25s ease-out forwards;
}
.calculator-pwa_install-prompt-btn-cancel {
  border: solid 1px var(--accent);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  color: var(--accent);
  margin-right: 0.5rem;
}
.calculator-pwa_install-prompt-btn-install {
  border: solid 1px var(--primary);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  background: var(--primary);
  color: var(--primary-text);
  font-weight: bold;
}

@keyframes come-in {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}