:root {
  font-family: -apple-system, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: 0px 0px 6px #000 inset;
	background-color: #333;
  box-shadow: 0px 0px 6px #000 inset;
	border-radius: 20px;
}

::-webkit-scrollbar
{
	width: 10px;
  border-radius: 20px;
	background-color: #333;
  box-shadow: 0px 0px 6px #000 inset;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: 0px 0px 5px #111 inset;
	background-color: #444;
}